<%= form_for(@ticket) do |f| %>
  <% if @ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% @ticket.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.collection_select :user_id, User.all, :id, :name, :selected => current_user.name %>
  </div>
 
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :issue %><br />
    <%= f.text_area :issue %>
  </div>
  <div class="field">
    <%= f.label :priority %><br />
    <%= f.select :priority, ([1, 2, 3].map {|i| [i,i] }.reverse) %>
  </div>
  <div class="field">
    <%= f.label :category %><br />
    <%= f.select :category, (["Trouble", "To Do" ].map {|i| [i,i] }), :selected => "Trouble" %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.select :status, (["Open", "Closed", "Pending" ].map {|i| [i,i] }), :selected => "Open" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
