<h1>Listing tickets</h1>

<table class="table table-striped">
  <tr>
    <th>Ticket</th>
    <th>User</th>
    <th>Issue</th>
    <th>Priority</th>
    <th>Category</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tickets.each do |ticket| %>
  <tr>
  	<td><%= ticket.id%></td>
    <td><%= User.find(ticket.user_id).name %></td>
    <td><%= ticket.description %></td>
    <td><%= ticket.issue.content[0,20] %></td>
    <td><%= ticket.priority %></td>
    <td><%= ticket.category %></td>
    <td><%= ticket.status %></td>
    <td><%= link_to 'Show', ticket %></td>
    <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
    <td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ticket', new_ticket_path %>
