<p id="notice"><%= notice %></p>

<h3><%= @ticket.description%></h3> || Created by: <%= User.find_by_id(@ticket.user_id).name %> <%= time_ago_in_words(@ticket.created_at)%> ago<br /><br />
<h4>Issue:<br /><%= @ticket.issue %></h4><br />


<%= link_to "Update", new_update_path(:ticket_id => @ticket.id), class: "btn btn-medium btn-default" %>
<div class="container">
	
				<table class="table table-striped">
  <tr>
    <th>Updated By3</th>
    
    <th><center>Update</center></th>
    <th>Updated at</th>

	
		<% if @ticket.updates.any? %>
		<% @updates.each do |update|%>
		



  <tr>
  	<td><%= User.find_by_id(update.user_id).name %></td>
    
    <td><p><%= simple_format(update.body.to_s.gsub(/\n/, '<br />')) %></p></td>
   
    <td><%= update.created_at %></td>
    
    
  </tr>
<% end %>
		<% end %>
	
</table>
			
	
		
	
</div>

