<p id="notice"><%= notice %></p>



<%= link_to "Update", new_update_path(:ticket_id => @ticket.id) %>
<div class="container">
	
				<table class="table table-striped">
  <tr>
    <th>Updated By</th>
    
    <th><center>Update</center></th>
    <th>Updated at</th>

	
		<% if @ticket.updates.any? %>
		<% @updates.each do |update|%>
		



  <tr>
  	<td><%= User.find_by_id(update.user_id).name %></td>
    
    <td><%= update.body %></td>
   
    <td><%= update.created_at %></td>
    
    
  </tr>
<% end %>
		<% end %>
	
</table>
			
	
		
	
</div>

