<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @ticket.user_id %>
</p>

<p>
  <b>Description:</b>
  <%= @ticket.description %>
</p>

<p>
  <b>Issue:</b>
  <%= @ticket.issue %>
</p>

<p>
  <b>Priority:</b>
  <%= @ticket.priority %>
</p>

<p>
  <b>Type:</b>
  <%= @ticket.type %>
</p>


<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
<%= link_to 'Destroy', @ticket, method: :delete, data: { confirm: 'Are you sure?' } %>
