<%= form_for(@campaign) do |f| %>
  <% if @campaign.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@campaign.errors.count, "error") %> prohibited this campaign from being saved:</h2>

      <ul>
      <% @campaign.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :advertiser %><br />
    <%= f.text_field :advertiser %>
  </div>
  <div class="field">
    <%= f.label :agency %><br />
    <%= f.text_field :agency %>
  </div>

  <div class="field">
    <%= f.label :team_sold %><br />
    <%= f.text_field :team_sold %>
  </div>
  <div class="field">
    <%= f.label :revenue %><br />
    <%= f.text_field :revenue %>
  </div>
  <div class="field">
    <%= f.label :startdate %><br />
    <%= f.text_field :startdate %>
  </div>
  <div class="field">
    <%= f.label :enddate %><br />
    <%= f.text_field :enddate %>
  </div>
  <div class="field">
    <%= f.label :keydates %><br />
    <%= f.text_area :keydates %>
  </div>
  <div class="field">
    <%= f.label :thirdparty %><br />
    <%= f.text_field :thirdparty %>
  </div>
  <div class="field">
    <%= f.label :targeting %><br />
    <%= f.text_field :targeting %>
  </div>
  
  <div class="field">
    <%= f.label :web %>
    <%= f.check_box :web %>
  </div>
  <div class="field">
    <%= f.label :mobile %>
    <%= f.check_box :mobile %>
  </div>
  <div class="field">
    <%= f.label :tablet %>
    <%= f.check_box :tablet %>
  </div>
  <div class="field">
    <%= f.label :video %>
    <%= f.check_box :video %>
  </div>
  <div class="field">
    <%= f.label :io %>
    <%= f.check_box :io %>
  </div>
  <div class="field">
    <%= f.label :assets %>
    <%= f.check_box :assets %>
  </div>

  <div class="field">
    <%= f.label :sales_notes %><br />
    <%= f.text_area :sales_notes %>
  </div>
  <div class="field">
    <%= f.label :ops_notes %><br />
    <%= f.text_area :ops_notes %>
  </div>
  <div class="field">
    <%= f.label :paused %>
    <%= f.check_box :paused %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
