<%= form_for(@campaign) do |f| %>
  <% if @campaign.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@campaign.errors.count, "error") %> prohibited this campaign from being saved:</h2>

      <ul>
      <% @campaign.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div><br />
  <div class="field">
    <%= f.label :advertiser %>
    <%= f.text_field :advertiser %>
  </div>
  <div class="field">
    <%= f.label :agency %><br />
    <%= f.text_field :agency %>
  </div>
  <div class="field">
    <%= f.label :teamsold %><br />
    <%= f.text_field :teamsold %>
  </div>
  <div class="field">
    <%= f.label :revenue %><br />
    <%= f.text_field :revenue %>
  </div>
  <div class="field">
    <%= f.label :startdate %><br />
    <%= f.text_field :startdate, :placeholder => "dd/mm/yyyy" %>
  </div>
  <div class="field">
    <%= f.label :enddate %><br />
    <%= f.text_field :enddate, :placeholder => "dd/mm/yyyy" %>
  </div>
  <div class="field">
    <%= f.label :keydates %><br />
    <%= f.text_area :keydates, :rows => 3 %>
  </div>
  <div class="field">
    <%= f.label :thirdparty %><br />
    <%= f.text_field :thirdparty, :size => "50" %>
  </div>
  <div class="field">
    <%= f.label :thirdpartylogin %><br />
    <%= f.text_area :thirdpartylogin, :rows => 3 %>
  </div>
  <div class="field">
    <%= f.label :theoremtracking %><br />
    <%= f.text_area :theoremtracking, :rows => 3 %>
  </div>
  <div class="field">
    <%= f.label :geo %><br />
    <%= f.text_area :geo, :rows => 3 %>
  </div>
  <div class="field">
    <%= f.label :web %><br />
    <%= f.check_box :web %>
  </div>
  <div class="field">
    <%= f.label :mobile %><br />
    <%= f.check_box :mobile %>
  </div>
  <div class="field">
    <%= f.label :tablet %><br />
    <%= f.check_box :tablet %>
  </div>
  <div class="field">
    <%= f.label :video %><br />
    <%= f.check_box :video %>
  </div>
  <div class="field">
    <%= f.label :io %><br />
    <%= f.check_box :io %>
  </div>
  <div class="field">
    <%= f.label :assets %><br />
    <%= f.check_box :assets %>
  </div>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_area :notes, :rows => 3 %>
  </div>
  <div class="field">
    <%= f.label :manager %>
    <%= f.collection_select :manager, @aousers, :id, :name, {:selected => current_user.id} %>
  </div>
  <div class="field">
    <%= f.label :trafficker %>
    <%= f.collection_select :trafficker, @amusers, :id, :name, {:selected => User.find_by_name("Ryan Rogers").id} %>
  </div>
  <div class="field">
    <%= f.label :status %>
    <%= f.select :status, (["Pending", "Ready" ].map {|i| [i,i] }), :selected => "Pending" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
