<h1>Listing campaigns</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Advertiser</th>
    <th>Agency</th>
    <th>Teamsold</th>
    <th>Revenue</th>
    <th>Startdate</th>
    <th>Enddate</th>
    <th>Thirdparty</th>
    <th>Thirdpartylogin</th>
    <th>Theoremtracking</th>
    <th>Geo</th>
    <th>Web</th>
    <th>Mobile</th>
    <th>Tablet</th>
    <th>Video</th>
    <th>Io</th>
    <th>Assets</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @campaigns.each do |campaign| %>
  <tr>
    <td><%= campaign.name %></td>
    <td><%= campaign.advertiser %></td>
    <td><%= campaign.agency %></td>
    <td><%= campaign.teamsold %></td>
    <td><%= campaign.revenue %></td>
    <td><%= campaign.startdate %></td>
    <td><%= campaign.enddate %></td>
    <td><%= campaign.thirdparty %></td>
    <td><%= campaign.thirdpartylogin %></td>
    <td><%= campaign.theoremtracking %></td>
    <td><%= campaign.geo %></td>
    <td><%= campaign.web %></td>
    <td><%= campaign.mobile %></td>
    <td><%= campaign.tablet %></td>
    <td><%= campaign.video %></td>
    <td><%= campaign.io %></td>
    <td><%= campaign.assets %></td>
    <td><%= campaign.notes %></td>
    <td><%= link_to 'Show', campaign %></td>
    <td><%= link_to 'Edit', edit_campaign_path(campaign) %></td>
    <td><%= link_to 'Destroy', campaign, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Campaign', new_campaign_path %>
