<!DOCTYPE html>
<html>
<head>
  <title>
  	
  	
  	Songza Ad Ops Ticketing | <%= yield(:title) %>
  	
  	
  	</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<%= render 'layouts/header'%>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span1">
		</div>
		<div class="span10">
			<%= yield %>
		</div>
	</div>
</div>
</body>
</html>
